@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="display-5 text-center">
    <h1>Welcome to the Survey Application</h1>
    <p>
        This is your main page. <a href="/SurveyPage/Survey">Click Here</a> or in the navigation bar to proceed to
        the survey.
    </p>
</div>